@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
}

img {
    width: 100%;
}


@media (min-width: 719px) {
    .container {
        display: none;
    }

}

@media (max-width: 720px) {
   body {
    background-image: url(images/iPhone\ 16\ -\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
    /* margin: 0 5rem; */
   }

  .head {
    width: 100%;
    height: 200px;
  }

  .text {
    font-family: "Oswald", sans-serif; 
    color: rgba(255, 255, 255, 0.774);
    padding:  0 30px 50px 30px;
    text-align: justify;
    letter-spacing: .8px;
    /* font-weight: 100; */
    h3 {
      text-decoration: underline;
      color: rgba(255, 0, 0, 0.555);
      /* font-weight: lighter; */
      
    }
    .price {
        font-weight: lighter;
      }
  }
  

     .monday,.tuesday,.wednesday, .thursday, .friday, .saturday, .sunday {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        button {
            width: 300px;
            height: 50px;
            font-weight: 600;
            font-size: large;
            font-family: "Oswald", sans-serif;   
            background-color: #ffffff79;
            border: 1px solid black;
            color: black;
            letter-spacing: 0.7px;
        }
     }

     


/* animation */



}